[Unit]
Description = Infrasound Location Plotting Service
After = network.target

[Service]
ExecStart = /data/infrasoundLocation/bin/uwsgi -i /data/infrasoundLocation/Support/infrasoundlocation.ini
RuntimeDirectory = infrasound
RuntimeDirectoryMode = 777
Restart=on-failure
RestartSec=15s

[Install]
WantedBy = multi-user.target