[Unit]
Description = Infrasound Location Plotting Web Service
After = network.target

[Service]
ExecStart = /shared/apps/infrasoundlocation/ifrloc-env/bin/uwsgi -i /shared/apps/infrasoundlocation/infrasoundLocation/Support/infrasoundlocation.ini
RuntimeDirectory = infrasound
RuntimeDirectoryMode = 777
Restart=on-failure
RestartSec=15s
User=www-data
Group=www-data

[Install]
WantedBy = multi-user.target
